.bookDetailContainer {
  width: 100%;
}
.bookDetailInfoSec {
  background-color: $global-light-gray-base-color;
  width: 100%;
  padding: 40px 40px 0 40px;

  .goBackSec {

  }

  .infoSec {
    display: flex;
    flex-direction: row;

    .bookImg {
      width: 80px;
      height: 100px;
      background-color: $global-subtext-color;
      margin-right: 16px;
    }

    .tag {
      padding: 2px 8px;
      font-size: 13px;
      background-color: $global-light-line-color;
      color: $global-subtext-color;
      border-radius: 50px;
      font-weight: 600;
    }

    p {
      color: $global-subtext-color;
    }
  }
}

