.mainNavContainer {
  width: 100%;
  background-color: #1D1D23;
  color: $color-white;
}


.mainNav {
  height: 100px;
  width: 100%;
  border-bottom: $global-text-color;
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1140px;
  margin: 0 auto;
}

.mainLogo {
  padding: 0 20px 20px 20px;
}


.mainMenu {
  display: flex;
  flex-direction: row;

  li {
    padding: 20px;

    &:hover {
      cursor: pointer;
    }
  }
}

.navActive {
  font-weight: 900;
}
