.searchResultCard {
  margin: 0 4px 16px 4px;
  background-color: $global-base-color;
  box-shadow: 0 4px 12px 0 $color-black-opacity05;
  border-radius: 6px;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;



  .contentSec {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    p {
      color: $global-subtext-color;
    }

    .bookImg {
      margin-right: 12px;
      width: 80px;
      height: 116px;
      background-color: #9e9e9e;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    .contents {
      padding: 6px 12px 0 12px;
      flex: 4;
    }

    .descriptionSec {
      display: block;
      max-height: 64px;
      overflow: hidden;
      white-space: normal;
      text-overflow: ellipsis;
      word-wrap: break-word;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }

  .buttonSec {
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.bookSearchResultContainer {
  height: 100%;
  background-color: $global-light-gray-base-color;
  width: 100%;
  padding: 20px;
}

.bookSearchResultSec {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.noSearchResultSec {
  color: $global-subtext-color;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

