
// -----------------------------------
// input label
// -----------------------------------
.InputSet__label {
  font-weight: 700;
  margin-bottom: 3px;
  margin-left: 4px;
  position: relative;
  text-align: left;
  width: 100%;
}


// -----------------------------------
// 유효성 메시지
// -----------------------------------
.InputErrorMsg {
  font-size: 13px;
  color: $color-red;
}



// -----------------------------------
// type :  text, textarea
// -----------------------------------

.InputText {
  padding: 16px 24px;
  //margin-bottom: 8px;
  border: 1px solid $global-line-color;
  color: $global-text-color;
  border-radius: 10px;
  transition: all 0.2s;
  width: 100%;

  &::placeholder {
    color: $global-subtext-color;
  }

  &:disabled {
    background: $color-gray50;
    border: 1px solid $color-gray300;
    box-shadow: none;
    color: $global-subtext-color;
  }

  &:focus {
    border: 1px solid $global-text-color;
    background-color: $global-default-hover-color;
    outline: none;
  }
}

.Input-md {
  max-width: 370px;
}

.Input-sm {
  max-width: 300px;
}

.Input-full {
  width: 100%;
}

@media (max-width: $mobile-break-point) {
  .Input-md,
  .Input-sm
  {
    max-width: 100%;
  }
}

// ----- | 커스텀 input | ---------
.customInput {
  font-size: $global-font-size;
  padding: 16px 8px;
  border-radius: 6px 6px 0 0;
  background-color: $global-light-gray-base-color;
  border-bottom: 1px solid $color-gray500;
  transition: all 0.2s;
  width: 100%;

  &:focus {
    background-color: $global-default-hover-color;
    border-bottom: 1px solid $global-line-color;

    outline: none;
  }
}

.customInput.md {
  max-width: 370px;
}

.customInput.sm {
  max-width: 300px;
}

.inputLabel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100px;
}
