.serviceLayoutContainer {
  display: flex;
  flex-direction: row;
}

.serviceContents {
  font-size: $global-font-size;
  display: flex;
  width: 100%;
  padding-left: 200px;
}

@media (max-width: $mobile-break-point) {
  .serviceLayoutContainer {
    flex-direction: column;
  }
  .serviceContents {
    padding-left: 0;
  }
}
